<form [formGroup]="personForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nueva persona</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      
      <div class="row">
        <!-- Field name -->
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="personForm.controls['name'].hasError('required')">
              El nombre es <strong>necesario</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Field lastName -->
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="lastName">
            <mat-error *ngIf="personForm.controls['lastName'].hasError('required')">
              Apellido <strong>necesario</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Field email -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="personForm.controls['email'].hasError('required')">
              El email es <strong>requerido</strong>
            </mat-error>

            <mat-error *ngIf="personForm.controls['email'].hasError('email')">
              Escribe bien tu email
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Teléfono" formControlName="phone">
            <mat-error *ngIf="personForm.controls['phone'].hasError('required')">
              Teléfono <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nick" formControlName="nick">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Avatar" formControlName="avatar">
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isNewPerson" mat-raised-button color="primary" type="submit">Enviar</button>
      <button *ngIf="!isNewPerson" mat-raised-button color="primary" type="submit">Actualizar</button>
    </mat-card-actions>
  </mat-card>
</form>
